body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 10px;
}

.button{
    text-decoration: none;
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 13;
    color: #5F6368;
    border-radius: 5%;

}
.button:hover {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

input
{
    border-style: inset;
    border-radius: 25px;
    border-color: #e6e6e6;
    width: 50%;
    height: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .top
  {
    list-style-type: none;
    margin: 10px;
    padding: 0;  
  }
  li
  {
      display: inline;
      float: left;
  }
  li a {
      display: inline;
      display: block; 
      padding: 14px;
      padding-bottom: 0px;
    text-decoration: none;
    font-size: 12;
     color: darkslategray;
  }
  li a:hover {
      text-decoration: underline;
  }
  .signin {
      color: white;
      background-color: #4285f4;
      float: right; 
      text-decoration: none;
      text-align: center;
      padding-bottom: 7px;
      padding-top: 7px;
      margin-right: 20px;
      margin-top: 7px;
      align-self: center;
    

  }
  .right {
      float: right;
  }

  footer {
    background-color:#f2f2f2;
    width: 100%;
    height: 15%;
    color: grey;
    border-top: solid;
      border-top-width: 1px;
      border-top-color: #e6e6e6;
 
  }
  p {
      margin-left: 30px;
      color: grey;
      padding-bottom: 0px;
      padding-top: 5px;
      text-align: left;
      font-size: 13.5;

  }
  .bot {
    padding-left: 15px;
    margin-left: -1;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    color: grey;
  }
 .bot li a {
    display: inline;
    float: left;
    font-size: 12;
    text-decoration: none;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
    color: grey;
    }

  .bot li a:hover{
    text-decoration: underline;
  }

  
